/* Annulation des marges par défaut */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Mise en page générale (conteneurs) */
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#news, #infos, #actu {
    padding: 1em 2em;
    border: 1px solid red;
}

#header, #news, #actu {
    width: 100%;
}


/* Header */
#header {
    background-image: linear-gradient(rgba(253, 207, 106, 0.5), rgba(255, 255, 255, 0.5)),
    url("img/ambiance-cuisine.jpg");
    background-position: center;
    height: 30vh;
}

#header .logo {
    width: 50%;
}

#header .logo img {
    width: 100%;
}

#header .hamburger {
    width: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#header .hamburger .line {
    display: block;
    background-color:rgb(138, 226, 253);
    margin: 12px 0;
    border-radius: 50px;
    height: 8px;
}

#header .menu {
    position: absolute;
    width: 100%;
    top: 0;
    display: none;
    background-color: rgb(221, 185, 138);
}

#header .menu ul {
    list-style: none;
}

#header .menu ul li {
    text-align: center;
}

#header .menu ul li a, .close {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 1em 2em;
}

#header .menu ul li a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

#header #menu:target {
    display: block;
}

/* Infos */
#infos {
    display: none;
}

#infos ul {
    list-style-type: disc;
    padding-left: 1em;
}

#infos ul li {
    padding: 0.5em 1em;
}

/* Actualités */
#actu article {
    display: flex;
    flex-direction: column;
}

#actu article .img-article {
    width: 100%;
    margin: auto;
}

#actu article .img-article img {
    width: 100%;
}

@media (min-width: 720px) {

    #infos {
        display: block;
    }

    /* Header */
    #header .logo {
        width: 30%;
    }

}

/* Règles pour les écrans larges */
@media (min-width: 1024px) {

    #news {
        width: calc(50% - 8px);
    }

    #infos {
        width: 30%;
        display: block;
        border-left: 1px solid rgba(0, 0, 0, 0.8);
    }

    #actu {
        width: 80%;
    }

    /* Header */
    #header {
        display: flex;
    }

    #header .hamburger {
        display: none;
    }

    #header .menu {
        position: inherit;
        display: block;
        background-color: transparent;
    }

    #header .menu .close {
        display: none;
    }

    #header .menu ul {
        display: flex;
        justify-content: flex-end;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent)
    }

    

}